@import './variables' ;

@mixin hoverEffect {
  filter: brightness(1.5);
  transition: all 0.2s;
}

nav {
  background-color: $color-primary;
  text-align: center;
  color: $color-accent;

  ul{
    list-style: none;
  }

  ul li {
    background-color: $color-secondary;
    transition:all 0.4s;

    &:hover {
      @include hoverEffect();
    }
  }
}

section {
  img {
    transition: all 0.3s;
    &:hover{
      @include hoverEffect();
    }
  }
}
