@import './variables' ;

@mixin hoverEffect {
  filter: brightness(1.5);
  transition: all 0.2s;
}

@mixin fancyHover {
  background-color: rgba($color: #000000, $alpha: 0.1);
      transform: scale(1.02);
      transition: all 0.2s;
      border-radius: 5px;
      border: dashed #666 2px;
}

@mixin photoHover {
  transform: scale(1.1);
  filter: brightness(1.3);
  transition: all 0.2s;
}

body {
  p {
    transition: all 0.2s;
    padding: 10px;
    &:hover {
      @include fancyHover();
    }
  }
  img {
    &:hover {
      @include photoHover();
    }
  }
}

nav {
  background-color: $color-primary;
  text-align: center;
  color: $color-accent;

  ul{
    list-style: none;
  }

  ul li {
    background-color: $color-secondary;
    transition:all 0.4s;

    &:hover {
      @include hoverEffect();
    }
  }
}

.introduction {
  img {
    transition: all 0.3s;
    border-radius: 50%;
    &:hover{
      @include photoHover();
    }
  }
  p{
    transition:all 0.1s;
    &:hover{
      @include fancyHover();
    }
  }
  .row{
    max-width: 720px;
    margin: auto;
  }
}

.abilities{
  img {
    border-radius: 50%;
    border: 3px solid #666;
    padding: 0;
  }
  .not-ready {
    filter: brightness(0.2);
  }
}